{%extends 'base.html'%}

{%block content%}

<div class="col-lg-6 w-50 mx-auto mt-2 text-center">
    <h3>{{card.analysis_theme}} </h3><span>created date {{card.created_date}}</span>
</div>


<div class="col-md-4 w-50 mx-auto mb-10 text-center">
    <img src="data:image/png;base64,{{card.image_string}}" style="width: auto; height: 100%;" alt="graph">
</div>



<div class="col-lg-6 w-50 mx-auto mt-2 text-center">
    <table class="table">
        <tr>
            <th scope="col"> Keyword</th>
            <th scope="col"> Sentiment Score</th>


        </tr>
        {%for result in  card.sentiment_scores %}
        <tbody>
            <tr>
                <td>{{result.keywords.word}}</td>
                <td>{{result.score}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
<hr>
<div class="col-lg-6 w-50 mx-auto mt-2 text-center">

    <div class="col-lg-6 w-50 mx-auto text-center">
        <p class="lead">Score Key:</p>

        <dl class="row">
            <dt class="col-sm-3 fw-normal">
                -1
            </dt>
            <dd class="col-sm-9 "> very negative sentiment</dd>
            <dt class="col-sm-3 fw-normal">0</dt>
            <dd class="col-sm-9 ">
                neutral sentiment
            </dd>
            <dt class="col-sm-3 fw-normal">1</dt>
            <dd class="col-sm-9">very positive sentiment</dd>




        </dl>


    </div>

    <form action="/users/{{user_id}}/cards/{{card.id}}/delete" method="post">
        <button type="submit" class="btn"><i class="fa-solid fa-trash-can text-danger"></i></button>
    </form>
</div>


{%endblock%}