{%extends 'base.html'%}

{%block content%}


<p>Analysis Theme: {{card.analysis_theme}}</p>


<a href="/"><button>Home</button></a>



<table>
    <tr>
        <th> Keyword</th>
       
     <th> Sentiment Score</th>
 
    </tr>
    {%for result,word in zip( card.sentiment_scores,card.keywords) %}
    <tbody>
    <tr>
        <td>{{word.word}}</td>

       
        <td>
    {{result.score}}
        </td>


    </tr>
    {%endfor%}
</tbody>
    </table>
    <form action="/users/{{user_id}}/cards/{{card.id}}/delete" method="post">
        <button type="submit">Delete</button>
    </form>



{%endblock%}

