{%extends 'base.html'%}

{%block content%}


{%if cards%}



  







<div class="container mt-5">
    <div class="row">
        {%for card in cards%}
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{card.analysis_theme}}</h5>
            {%for card in (card.sentiment_scores | sort(attribute='score' , reverse = True))[:1] %}
            <p class="card-text">{{card.score}} is the winning sentiment score in this category, fnd out who won this analysis</p>
          
            {%endfor%}
            <a href="/users/{{g.user.id}}/cards/{{card.id}}" class="btn btn-primary">Go to {{card.analysis_theme}}</a>
          </div>
        
      </div>
    </div>
    {%endfor%}
  </div>
</div>

  {%endif%}

{%endblock%}