{%extends 'base.html'%}

{%block content%}
<div class="container mt-5">

   <div class="row justify-content-center mb-5">
      <div class="col-lg-8">
         <p class="lead text-center">
            ReddiSenti is a sentiment analysis tool that uses <a class="text-decoration-none link-info"
               href="https://textblob.readthedocs.io/en/dev/">TextBlob</a> to analyze the sentiment of text from Reddit.
         </p>
         <p>
            Sentiment analysis is the process of identifying and extracting subjective information from text data.
            ReddiSenti can be used to track the sentiment of Reddit posts about a particular topic, brand, or product.
            This information can be used to gain insights into public opinion and make more informed decisions.
         </p>
      </div>
   </div>
   <div class="row justify-content-center">
      <div class="col-lg-8">
         <h2 class="display-6 text-center">Examples of how ReddiSenti can be used</h2>
         <ul class="list-group my-4">
            <li class="list-group-item">
               <p> A company could use ReddiSenti to track the sentiment of Reddit posts about their products. This
                  information could be used to identify areas where customers are happy with the products and areas
                  where they need improvement.</p>
            </li>
            <li class="list-group-item">
               <p>A political campaign could use ReddiSenti to track the sentiment of Reddit posts about their
                  candidates. This information could be used to identify areas where voters are supportive of the
                  candidates and areas where they need to do more convincing.</p>
            </li>
            <li class="list-group-item">
               <p>A news organization could use ReddiSenti to track the sentiment of Reddit posts about current events.
                  This information could be used to identify which stories are generating the most interest and which
                  stories are generating the most negative or positive sentiment.</p>
            </li>
         </ul>
         <p class="my-4">
            ReddiSenti is a powerful tool that can be used to gain insights into public opinion. By analyzing the
            sentiment of large volumes of text data, businesses, organizations, and individuals can make more informed
            decisions.
         </p>
      </div>
   </div>
</div>
<div class="text-center ">
   <form action="/demo">
      <button class="btn btn-lg btn-warning">Try it!</button>
   </form>
</div>
</div>


{%endblock%}