{%extends 'base.html'%}

{%block content%}
<div class="container mt-5">
   <div class="row justify-content-center mb-5">
      <div class="col-lg-8">
         <p class="lead text-center">
            ReddiSenti, powered by <a class="text-decoration-none link-info"
               href="https://textblob.readthedocs.io/en/dev/">TextBlob</a>, is a sentiment analysis tool for examining
            <a class="text-decoration-none link-danger" href="https://www.reddit.com/">Reddit</a> text. It identifies
            and extracts subjective opinions from Reddit posts about various topics, brands,
            or products, offering valuable insights into public sentiment.
         </p>
      </div>
   </div>
   <div class="row justify-content-center">
      <div class="col-lg-8">
         <h2 class="display-6 text-center">ReddiSenti Applications</h2>
         <ul class="list-group my-4">
            <li class="list-group-item">Helping beauty companies gauge customer satisfaction.</li>
            <li class="list-group-item">Assisting political campaigns in tracking candidate sentiment.</li>
            <li class="list-group-item">Aiding financial analysts in market trend predictions.</li>
         </ul>
      </div>
   </div>



</div>
</div>
<div class="text-center my-4">
   <form action="/demo">
      <button class="btn btn-lg btn-warning">Try it!</button>
   </form>
</div>
</div>


{%endblock%}