{%extends 'base.html' %}

{%block content%}

<div class="container">
<form method="POST" action="/login" >

    {{ form.hidden_tag() }}
  

    <p>
       
      {{ form.username.label }}
      {{form.username (class_="form-control")}} </p>
     <p> password
      {{form.password(class_="form-control")}}</p>
     
      {% for field in form
        if field.widget.input_type != 'hidden' %}
  
      {% for error in field.errors %}
      <span class="form-text text-danger">{{ error }}</span>
      {% endfor %}
   
    {% endfor %}
    
  
    <input type="submit" class="btn btn-primary" >
  
  </form>
</div>




{%endblock%}