{%extends 'base.html' %}

{%block content%}

<div class="container">
<form method="POST" action="/login" >

    {{ form.hidden_tag() }}
  

   
       <label for="username">
      Username
      {{form.username (class_="form-control")}} </label>
      <label for="password">Password
        {{form.password(class_="form-control")}}
      </label>
     
     
      {% for field in form
        if field.widget.input_type != 'hidden' %}
  
      {% for error in field.errors %}
      <span class="form-text text-danger">{{ error }}</span>
      {% endfor %}
   
    {% endfor %}
    
  
    <input type="submit" class="btn btn-primary" >
  
  </form>
</div>




{%endblock%}