{%extends 'base.html'%}

{%block content%}

<div class="container mt-5">
  <h1 class="display-5">Analyze Machine</h1>
  <hr>
</div>

<div class="col-lg-6 w-50 mx-auto">

  <h2 class="display-6">Add Keyword</h2>
  <form method="post" id="add_keyword" action="{{ url_for('add_keyword') }}">
    {{ add_keyword_form.hidden_tag() }}
    {{ add_keyword_form.word(class="form-control") }}
    <button id="add_keyword_btn" type="submit" class="btn btn-info mt-2">Add</button>
  </form>
  <hr>
</div>





<div class="col-lg-6 w-50 mx-auto select_word">
  <p class="lead">Select the keyword(s) you want to analyze:</p>
  <form id="analyze_form" action="{{ url_for('analyze') }}">
    <div id="checkboxes">



    </div>
    <button type="submit" class="btn btn-success my-2">Analyze</button>
  </form>
</div>


{%endblock%}