{%extends 'base.html'%}

{%block content%}

<div class="container mt-5">
  <h1 class="display-5">Analyze Machine</h1>
  <p><b>How to use : </b> Insert a group of keywords that share a common theme that you would like to compare sentiments
    ex.
    Sprite vs
    Pepsi vs
    Coca Cola, Trump vs
    Obama vs Biden, etc.</p>
  <hr>
</div>

<div class="col-lg-6 w-50 mx-auto">


  <form method="post" id="add_keyword" action="{{ url_for('add_keyword') }}">
    {{ add_keyword_form.hidden_tag() }}
    {{ add_keyword_form.word(class="form-control") }}
    <button id="add_keyword_btn" type="submit" class="btn btn-primary mt-2">Add</button>
  </form>
  <hr>
</div>





<div class="col-lg-6 w-50 mx-auto select_word">

  <h2 class="lead display-6">Keywords:</h2>
  <ul>
    {% for keyword in keywords %}
    <li>{{ keyword }}</li>
    {% endfor %}
  </ul>

  <form action="/analyze" method="get">
    <button type="submit" class="btn btn-success">Analyze</button>
  </form>
  <form action="/clear_keywords" method="post" class="mt-2">
    <button type="submit" class="btn btn-danger">Clear</button>
  </form>
</div>


{%endblock%}