{%extends 'base.html' %}

{%block content%}

<div class="container">
<form method="POST" id="add_keyword_form" >

    {{ form.hidden_tag() }}
  
    {% for field in form
      if field.widget.input_type != 'hidden' %}
    <p>
       
      {{ field.label }}
      
      {{ field(class_="form-control") }}
  
      {% for error in field.errors %}
      <span class="form-text text-danger">{{ error }}</span>
      {% endfor %}
    </p>
    {% endfor %}
  
    <input id="word_submit_button" type="submit" class="btn btn-primary" >
  
  </form>
</div>


  <ul id="keyword_list">
  
  </ul>



{%endblock%}